In [1]:
import pandas as pd
import numpy as np

In [2]:
def parsing_excel(filename):
    return pd.read_excel(filename)

df = parsing_excel('../dataset.xlsx')
df.head()

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.02234,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def freq_age(df):
    return df['Patient age quantile'].value_counts()

freq_age(df)

11    380
4     366
9     359
0     334
7     319
2     315
13    313
14    299
5     294
6     281
16    279
19    275
15    269
17    263
18    259
3     251
1     234
12    197
10    190
8     167
Name: Patient age quantile, dtype: int64

In [4]:
def nan_attributes(df):
    return df.isnull().sum(axis=0)

nan_attributes(df)

Patient ID                                                  0
Patient age quantile                                        0
SARS-Cov-2 exam result                                      0
Patient addmited to regular ward (1=yes, 0=no)              0
Patient addmited to semi-intensive unit (1=yes, 0=no)       0
Patient addmited to intensive care unit (1=yes, 0=no)       0
Hematocrit                                               5041
Hemoglobin                                               5041
Platelets                                                5042
Mean platelet volume                                     5045
Red blood Cells                                          5042
Lymphocytes                                              5042
Mean corpuscular hemoglobin concentrationÂ (MCHC)         5042
Leukocytes                                               5042
Basophils                                                5042
Mean corpuscular hemoglobin (MCH)                        5042
Eosinophils                                              5042
Mean corpuscular volume (MCV)                            5042
Monocytes                                                5043
Red blood cell distribution width (RDW)                  5042
Serum Glucose                                            5436
Respiratory Syncytial Virus                              4290
Influenza A                                              4290
Influenza B                                              4290
Parainfluenza 1                                          4292
CoronavirusNL63                                          4292
Rhinovirus/Enterovirus                                   4292
Mycoplasma pneumoniae                                    5644
Coronavirus HKU1                                         4292
Parainfluenza 3                                          4292
                                                         ...
Urine - Sugar                                            5644
Urine - Leukocytes                                       5574
Urine - Crystals                                         5574
Urine - Red blood cells                                  5574
Urine - Hyaline cylinders                                5577
Urine - Granular cylinders                               5575
Urine - Yeasts                                           5574
Urine - Color                                            5574
Partial thromboplastin timeÂ (PTT)Â                        5644
Relationship (Patient/Normal)                            5553
International normalized ratio (INR)                     5511
Lactic Dehydrogenase                                     5543
Prothrombin time (PT), Activity                          5644
Vitamin B12                                              5641
Creatine phosphokinaseÂ (CPK)Â                             5540
Ferritin                                                 5621
Arterial Lactic Acid                                     5617
Lipase dosage                                            5636
D-Dimer                                                  5644
Albumin                                                  5631
Hb saturation (arterial blood gases)                     5617
pCO2 (arterial blood gas analysis)                       5617
Base excess (arterial blood gas analysis)                5617
pH (arterial blood gas analysis)                         5617
Total CO2 (arterial blood gas analysis)                  5617
HCO3 (arterial blood gas analysis)                       5617
pO2 (arterial blood gas analysis)                        5617
Arteiral Fio2                                            5624
Phosphor                                                 5624
ctO2 (arterial blood gas analysis)                       5617
Length: 111, dtype: int64

In [5]:
df1 = nan_attributes(df)
df1.to_csv("nan_attributes.txt", sep=' ', index=True, header=False)

In [6]:
def nan_individual(df):
    return df.isnull().sum(axis=1)

missingrow = nan_individual(df)
nan_individual(df)

0       105
1        65
2       105
3       105
4        88
5       105
6       105
7       105
8        51
9        88
10      105
11      104
12      104
13       87
14       88
15       60
16      105
17      105
18       72
19      103
20       85
21      105
22       83
23      105
24      105
25      102
26      105
27      105
28       70
29       70
       ...
5614     65
5615     55
5616    105
5617    105
5618     35
5619    105
5620    105
5621    105
5622    105
5623    105
5624    105
5625    105
5626    103
5627    105
5628    105
5629    105
5630    105
5631    105
5632    105
5633    105
5634     89
5635    105
5636    105
5637    105
5638    105
5639    105
5640    105
5641    105
5642     90
5643     76
Length: 5644, dtype: int64

In [7]:
df2 = nan_individual(df)
df2.to_csv("nan_individual.txt", sep=' ', index=True, header=False)